<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <title>u&#x1F62D;hhh</title>

    <script src={{ url_for("static", filename="main.js" ) }}></script>

    <link rel="stylesheet" type="text/css" href={{ url_for("static", filename="reset.css" ) }}>
    <link rel="stylesheet" type="text/css" href={{ url_for("static", filename="styles.css" ) }}>
  </head>

  <body>

    <header>
      <button id="update-button" onclick="forceUpdate()">force update</button>
      <select onchange="selectToken(this.value)">
        {% for token_name in tokens_names %}
            <option {{ 'selected="true"' if token_name == selected_token_name }}>{{ token_name }}</option>          
        {% endfor %}
      </select>
      <select onchange="selectSnapshot(this.value)">
        {% for snapshot in snapshots %}
            <option {{ 'selected="true"' if snapshot == selected_snapshot }}>{{ snapshot }}</option>
        {% endfor %}
      </select>
      <select onchange="selectLatest(this.value)">
        {% for snapshot in snapshots %}
          <option {{ 'selected="true"' if snapshot == selected_latest }}>{{ snapshot }}</option>
        {% endfor %}
      </select>
      <p>{{ time }}</p>
      
      <!-- <div class="filter-container"> -->
        <input  type="text" onchange="filterItems(this.value)" />
        {% set items_len = [listed_items, unlisted_items, rest_items]|map('length')|sum %}
        <span id="filter-status">{{ items_len }}/{{ items_len }}</span>
      <!-- </div> -->

    </header>

    <main>
      {% block content %}{% endblock content %}
    </main>

  </body>

</html>
